[submodule "extern/riscv-opcodes"]
	path = extern/riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
[submodule "extern/riscv-gnu-toolchain"]
	path = extern/riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
[submodule "extern/riscv-isa-sim"]
	path = extern/riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
[submodule "extern/sail-riscv"]
	path = extern/sail-riscv
	url = https://github.com/ben-marshall/sail-riscv.git
[submodule "extern/riscv-compliance"]
	path = extern/riscv-arch-test
	url = https://github.com/riscv/riscv-compliance.git
[submodule "extern/riscv-docs-templates"]
	path = extern/riscv-docs-templates
	url = https://github.com/riscv/docs-templates/
[submodule "extern/riscv-bitmanip"]
	path = extern/riscv-bitmanip
	url = https://github.com/ben-marshall/riscv-bitmanip.git
