*-blx.bib
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.run.xml
*.toc
opcodes-crypto-scalar-cmds.tex
opcodes-crypto-scalar-table.tex
opcodes-crypto-vector-cmds.tex
opcodes-crypto-vector-table.tex
sail-snippets/
